*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
h1{
    font-size: 150px;
    color: #dada;
    border-bottom: 10px solid ;
    border-color:rgb(104, 98, 90);
}